global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['prometheus:9090']
      
  - job_name: 'catherine'
    scrape_interval: 5s
    static_configs:
      - targets: ['catherine:6789']